name: .NET

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-18.04

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Install GitVersion
      uses: gittools/actions/gitversion/setup@v0.9.7
      with:
        versionSpec: '5.x'
    - name: Calculate version
      id: gitversion
      uses: gittools/actions/gitversion/execute@v0.9.7
      with:
          useConfigFile: true
          configFilePath: ${{ github.workspace }}/.github/GitVersion.yml
    - name: Setup Python
      uses: actions/setup-python@v2.2.2
    - name: Setup mono
      run: |
        sudo apt install gnupg ca-certificates
        sudo apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv-keys 3FA7E0328081BFF6A14DA29AA6A19B38D3D831EF
        echo "deb https://download.mono-project.com/repo/ubuntu stable-bionic/snapshots/6.12.0.182 main" | tee /etc/apt/sources.list.d/mono-official-stable.list
        sudo apt update
        sudo apt-get install -y mono-devel mono-utils
    - name: Setup llvm-config and FileCheck
      run: |
        sudo apt-get install llvm-10 llvm-10-tools
        sudo ln -s /usr/bin/llvm-config-10 /usr/bin/llvm-config
        llvm-config --version
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '6.0.x'
    - name: Setup cmake
      uses: jwlawson/actions-setup-cmake@v1.9
      with:
        cmake-version: '3.21.x'
    - name: Setup Souffle
      run: |
        curl -LJO https://github.com/souffle-lang/souffle/releases/download/2.0.2/souffle_2.0.2-1_amd64.deb
        sudo apt-get update
        sudo apt-get install mcpp
        sudo dpkg -i souffle_2.0.2-1_amd64.deb
    - name: Setup LIT
      run: |
        pip install lit
    - name: Configure
      run: |
        mkdir build
        cd build 
        cmake .. 
    - name: Build
      run: |
        cd build
        make build-souffle
        make build-dotnet
    - name: Unit test
      run: |
        cd build
        make check-unit-test
    - name: Integration test
      run: |
        cd build
        lit integration-test -v
    - name: Generate nuget packages
      if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
      run: |
        SOUFFLE_BIN_DIR=$(pwd)/build/bin/souffle dotnet pack net-ssa.sln -o:build/bin/net-ssa/package --include-symbols --include-source /p:Version=${{ steps.gitversion.outputs.AssemblySemVer }} /p:AssemblyVersion=${{ steps.gitversion.outputs.AssemblySemVer }} /p:InformationalVersion=${{ steps.gitversion.outputs.InformationalVersion }} /p:PackageVersion=${{ steps.gitversion.outputs.AssemblySemVer }}
        dotnet nuget push build/bin/net-ssa/package/net-ssa-lib.${{ steps.gitversion.outputs.NuGetVersionV2 }}.nupkg --api-key ${{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json
