name: .NET

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-18.04

    steps:
    - uses: actions/checkout@v2
    - name: Setup Python
      uses: actions/setup-python@v2.2.2
    - name: Setup mono
      run: |
        - sudo apt install gnupg ca-certificates
        - sudo apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv-keys 3FA7E0328081BFF6A14DA29AA6A19B38D3D831EF
        - sudo apt update
        - sudo apt-get install mono-devel=6.12.0.122-0xamarin1+ubuntu1804b1
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
    - name: Setup cmake
      uses: jwlawson/actions-setup-cmake@v1.9
      with:
        cmake-version: '3.21.x'
    - name: Setup Souffle
      run: |
        curl -LJO https://github.com/souffle-lang/souffle/releases/download/2.0.2/souffle_2.0.2-1_amd64.deb
        sudo apt-get update
        sudo apt-get install mcpp
        sudo dpkg -i souffle_2.0.2-1_amd64.deb
    - name: Setup LIT
      run: |
        pip install lit
    - name: Configure
      run: |
        mkdir build
        cd build 
        cmake .. 
    - name: Build
      run: |
        cd build
        make build-dotnet
        make build-souffle
    - name: Unit test
      run: |
        cd build
        make check-unit-test
    - name: Integration test
      run: |
        cd build
        lit integration-test -v